body {
  background-color: #FFEBEB;
  color: #454047;
}

.top-nav{
    background-color: #454047;
    color: #FFEBEB;
    height: 64px;
    width: 100%;
    line-height: 64px;
    position: fixed;
    top: 0px;
}

.top-nav h1 {
    margin: 0px 200px;
    font-size: 32px;
}

.container {
  margin: 154px auto 20px auto;
  width: 600px;
  padding: 0px 10px 10px 10px;
  border: 1px solid #454047;
  border-radius: 5px;
  text-align: center;
}

.post {
  border: 1px solid #121111;
  border-radius: 5px;
  width: 75%;
  padding: 10px, 7px;
  margin: 20px auto;
}

.post a {
  color: #454047;
}

.post a:hover {

  color: #A194A6;
}

.menu ul{
  padding-left: 0px;
}

.menu li {
  display: inline;
}

.menu li a{
  padding: 0px 5px;
}

#topnavlink {
  padding: 5px;
  text-decoration: none;
  color: #FFEBEB;
}

#topnavlink:hover{
  border: solid 1px #FFEBEB;
  border-radius: 5px;
}

th {
  text-align: left;
}

.button {
  border: 1px solid #A194A6;
  padding: 5px;
  border-radius: 7px;
  margin: 20px 7px;
  background-color: #454047;
  text-decoration: none;
  color: #FFEBEB;
}

.button a {
  text-decoration: none;
  background-color: #454047;
  color: #FFEBEB;
}

.floatleft {
  float: left;
}

.floatright {
  float: right;
}

#all {
  width: 15%;
  margin: 0px auto 10px auto;
}

