<ul class= "menu">
  <li class= 'button'><a href="/">New Post</a></li>
  <li class= 'button'><a href="/all">See all Posts</a></li>
  <li class= 'button'><a href="/find">Search Posts by Tags</a></li>
</ul>
