<div class="top-nav">
  <% if @user%>
    <h1 class='floatleft'><a class="navlink" href='/user/<%=@user.id%>'>Juan's Blog</a></h1>
    <% end%>
    <a class="navlink floatright" href="/signup" class='floatright'> Sign up </a>
</div>
