<div class="container">
  <h2>Juan's Blog</h2>
  <!-- <a href="/create">Create Users</a><br> -->
  <h3>Create a post</h3>
   <form action="/edit" method="post">
    Title: &nbsp;&nbsp;<input type="text" name="title" value="<%=@post.title%>" ><br><br>
    Text: &nbsp;&nbsp;<textarea name="body"> <%=@post.body%></textarea><br><br>

    <input type="hidden" name="id" value="<%=@post.id%>">
    <input class='button' type="submit" value="Edit">
  </form>
</div>

<div class="border">
  <%= erb :_menu %>
</div>
