<div class="container">
  <br>
  <form action='/find' method='post'>
    Tag: &nbsp;&nbsp;<input type="text" name="tag"><br><br>
    <input class='button' type="submit" value="Find Posts">
  </form>
</div>

<div class='border'>
 <%= erb :_menu%>
</div>

<script src="/js/find.js" type="text/javascript"></script>
