<div class="container">
  <h2>Juan's Blog</h2>
  <!-- <a href="/create">Create Users</a><br> -->
  <h3>Create a post</h3>
   <form action="/create" method="post">
    Title: &nbsp;&nbsp;<input type="text" name="title"><br><br>
    Text: &nbsp;&nbsp;<input type="text" name="body"><br><br>
    Tags: &nbsp;<input type="text" name="tags"><br><br>
    <input class='button' type="submit" value="Make a post">
  </form>


</div>
</div>
