<div class="container">


<h2>Signup</h2>
  <form action="/user/new" method="post">
    <label>User Name
      <input type="text" name="name"><br><br>
    </label>

    <label>Email
      <input type="text" name="email"><br><br>
    <label>

    <label>Password
      <input type="password" name="password"><br><br>
    <label>

    <input class='button' type="submit" value="Create user">
  </form>

</div>
